<div class="colsContainer">
  <div class="leftCol"></div>
  <div class="midCol">
    <ul id="midFeedList" class="feedList"></ul>
  </div>
  <div class="rightCol"></div>
</div>

<script type="text/x-handlebars-template" id="midFeedListTemplate">
  <li class="feedListItem">
    <p class="feedListItemTitle">{{article.title}}</p>
    <p class="feedListItemExcerpt">{{article.excerpt}}...
      <a href="{{article.url}}" class="feedListItemLink">more</a>
    </p>
  </li>
</script>

<script type="text/x-handlebars-template" id="sideFeedListTemplate">
  <li class="feedListItem">
    <p class="feedListItemExcerpt">{{pledge.text}}</p>
  </li>
</script>

<%= javascript_include_tag 'articles', 'data-turbolinks-track' => true %>
