<div class="profile_upper span_4"></div>
<ul class="profile_pledge_list" id="pledge_list"></ul>

<script type="text/x-handlebars-template" id="rep_info">
  <div class="profile_image_box">
    <a href={{rep.profile_pic_big_url}}>
      <img class="profile_image" src={{rep.profile_pic_thumb_url}} alt="Profile Picture" />
    </a>
  </div>

  <p class="profile_name">
    {{rep.name}}
    <span class="profile_handle">{{rep.twitter_handle}}</span>
  </p>
</script>

<script type="text/x-handlebars-template" id="rep_pledge_feed">
  <li class="profile_pledge_list_item">
    <img src={{pledge.rep_thumbnail_url}}
      alt="pledge picture"
      class="feed-thumbnail" />
    <p>@{{pledge.rep_twitter_handle}}</p>
    <p class="profile_pledge_list_item_text">
      {{pledge.tweet_message}}
    </p>
  </li>
</script>


<%= javascript_include_tag 'reps', 'data-turbolinks-track' => true %>

<%= javascript_include_tag 'tweet', 'data-turbolinks-track' => true %>


