<div class="profile_upper"></div>


<ul class="profile_pledge_list" id="pledge_list"></ul>



<script type="text/x-handlebars-template" id="rep_info">
  <div class="profile_image_box">
    <a href={{rep.big_pic_url}}>
      <img class="profile_image" src="{{rep.thumbnail_url}}" alt="Profile Picture" />
    </a>
  </div>

  <p class="profile_name">
    {{rep.name}} <a class="profile_handle" href="http://twitter.com/{{rep.twitter_handle}}">@{{rep.twitter_handle}}</a>
  </p>

  <% if current_user %>
    <button id="positive-pledge">pledge for</button>
    <button id="negative-pledge">pledge against</button>
  <% end %>
  <form id="pledge-form" style="display:none">

    <div id="close-tweet-button">Close</div>
    <p class="tweet_box_title">Send a Tweet!</p>
    <p id="tweet-handle">@{{rep.twitter_handle}} </p>

    <textarea id="tweet-box" placeholder="your message associated with this pledge"></textarea>
    <p id="tweet-hashtag">#WeThePAC</p>

    <button type="submit">Tweet!</button>
    <span id="tweet-character-count"></span>
  </form>
</script>

<script type="text/x-handlebars-template" id="rep_pledge_feed">
  <li class="profile_pledge_list_item">
    <a href="/users/{{pledge.user_id}}"><img src={{pledge.user_thumbnail_url}} alt="@{{pledge.user_twitter_handle}}'s picture"  class="feed-thumbnail"/></a>
    <p><a href="/users/{{pledge.user_id}}">{{pledge.user_name}}</a> - <a href="http://twitter.com/{{pledge.user_twitter_handle}}">@{{pledge.user_twitter_handle}}</a></p>
    <p class="profile_pledge_list_item_text">
      {{pledge.tweet_message}}
    </p>
  </li>
</script>


<%= javascript_include_tag 'reps', 'data-turbolinks-track' => true %>

<%= javascript_include_tag 'tweet', 'data-turbolinks-track' => true %>


