
<script type="text/x-handlebars-template" id="user_info">
  <div class="profile_upper span_4">
    <div class="profile_image_box">
      <a href={{user.profile_pic_big_url}}>
        <img class="profile_image" src={{user.profile_pic_thumb_url}} alt="Profile Picture" />
      </a>
    </div>

    <p class="profile_name">
    {{user.name}} <span class="profile_handle">{{user.twitter_handle}}</span>
    </p>
  </div>
</script>

<ul class="profile_tweet_list">
  <script type="text/x-handlebars-template" id="user_pledge_feed">
    <li class="profile_tweet_list_item">
      {{pledge.rep_id}}
      {{pledge.tweet_id}}
      {{pledge.tweet_message}}
      {{pledge.positive}}
    </li>
  </script>
</ul>

<%= javascript_include_tag 'users', 'data-turbolinks-track' => true %>
