<div class="profile_upper span_4"></div>
<ul class="profile_pledge_list" id="pledge_list"></ul>

<script type="text/x-handlebars-template" id="user_info">
  <div class="profile_image_box">
    <a href={{user.profile_pic_big_url}}>
      <img class="profile_image" src={{user.profile_pic_thumb_url}} alt="Profile Picture" />
    </a>
  </div>

  <p class="profile_name">
    {{user.name}} <span class="profile_handle"><a href="http://twitter.com/{{user.twitter_handle}}">@{{user.twitter_handle}}</a></span>
  </p>
</script>

<script type="text/x-handlebars-template" id="user_pledge_feed">
  <li class="profile_pledge_list_item">
    <a href="/reps/{{pledge.rep_id}}"><img src={{pledge.rep_thumbnail_url}} alt="@{{pledge.rep_twitter_handle}}'s picture"  class="feed-thumbnail"/></a>
    <p><a href="/reps/{{pledge.rep_id}}">{{pledge.rep_name}}</a> - <a href="http://twitter.com/{{pledge.rep_twitter_handle}}">@{{pledge.rep_twitter_handle}}</a></p>
    <p class="profile_pledge_list_item_text">
      {{pledge.tweet_message}}
    </p>
  </li>
</script>

<%= javascript_include_tag 'users', 'data-turbolinks-track' => true %>
