<div class='about'>
  <h1>
    About We the PAC
  </h1>
  <div class='about-blurb'>
    <p>
      Following the Supreme Court's decision in Citizens United, Super PACs can spend unlimited amounts of money in US politics. Super PACs spent over $1 billion dollars in the 2012 election cycle alone. Clearly, for we the people, voting is no longer enough.
    </p>
    <p>
      We the people need a way to hold our Representatives accountable.
    </p>
    <p>
      We the PAC empowers citizens by allowing them to publicly declare their support for, or oppostion against, a Representative. When a user approves of a Representative's action, they can make a $1 pledge to their reelection. A tweet is sent to the Representative, including a user-submitted explanation for their pledge. Conversly, when a user disapproves of a Representative's action, they can subtract a $1 from their previous pledges. Another tweet is sent to the Representative, including another explanation. Periodically users make good on their word by fulfilling their pledges.
    </p>
    <p>
      The goal is to empower what you can give--to take your vote beyond the ballot box. When you make a pledge, you have a public reason behind it. If money is speech, then We the Pac let's you put your money where your mouth is.
    </p>
  </div>
</div>
