<div id="searchResults"></div>
<div class='about'>
  <div class='about-blurb'>
    <a href="/" style="text-decoration:none; color:black; float:left;"><i class="fa fa-arrow-left fa-2x"></i></a>
    <i class="fa fa-users fa-4x"></i>
    <h1 class='about-header'>
      About We the PAC
    </h1>
    <p>
      Following the Supreme Court's decision in Citizens United, Super PACs can spend unlimited amounts of money in US politics. Super PACs spent over $1 billion dollars in the 2012 election cycle alone. Clearly, for we the people, voting is no longer enough.
    </p><br>
    <p>
      <strong>We the people need a way to hold our Representatives accountable!</strong>
    </p><br>
    <p>
      We the PAC empowers citizens by allowing them to publicly declare their support for, or oppostion against, a Representative. When a user approves of a Representative's action, they can make a $1 pledge to their reelection. A tweet is sent to the Representative, including a user-submitted explanation for their pledge. Conversly, when a user disapproves of a Representative's action, they can subtract a $1 from their previous pledges. Another tweet is sent to the Representative, including another explanation. Periodically users make good on their word by fulfilling their pledges.
    </p>
    <p>
      The goal is to empower what you can give–to take your vote beyond the ballot box. When you make a pledge, you have a public reason behind it. If money is speech, then We the PAC lets you put your money where your mouth is.
    </p><br>

    <a href="https://github.com/bhhutchens/WeThePAC" target="_blank" style="text-decoration:none; color:black;"><i class="fa fa-github fa-2x"></i></a>
    <a href="https://twitter.com/_wethepac"><i class="fa fa-twitter fa-2x" style="text-decoration:none; color:black;"></i></a><br><br>
    <a href="/" style="text-decoration:none; color:black; float:left;"><i class="fa fa-arrow-left fa-2x"></i></a>
    <br>
    <br>

  </div>
</div>

<script type="text/x-handlebars-template" id="searchResultTemplate">
<div class="search-result">
<a class="search-result-anchor" href={{rep.profile_url}}>
<img src="{{rep.thumbnail_url}}" class="search-result-thumbnail">
</a>

<a class="search-result-anchor" href={{rep.profile_url}}>{{rep.name}}</a>
<a class="search-result-anchor" href="http://twitter.com/{{rep.twitter_handle}}">{{rep.twitter_display}}</a>
</div>
</script>

<%= javascript_include_tag 'welcome', 'data-turbolinks-track' => true %>
