<%= javascript_include_tag 'curtains', 'data-turbolinks-track' => true %>
<video autoplay loop poster="/images/american_flag-300kb.jpg" id="bgvid">
<source src="/images/flag_2.webm" type="video/webm">
<!-- <source src="polina.mp4" type="video/mp4"> -->
</video>

<h1 class="tagline">
  Take your vote beyond the ballot box.
</h1>


<div id="searchResults"></div>

<ul class="step-list">
  <li class="step-list-item">
    <span class="huge-step-number">1.</span>
    Login with Twitter and find Representatives.
  </li>

  <li class="step-list-item">
    <span class="huge-step-number">2.</span>
    Pledge a dollar if you like what they've done. <br>Unpledge a dollar <i>if you don't</i>.
  </li>

  <li class="step-list-item">
    <span class="huge-step-number">3.</span>
    Fulfill your pledges.
  </li>
  <li class="step-list-item">
    <a href="/welcome/about">about</a>
  </li>
</ul>


<script type="text/x-handlebars-template" id="searchResultTemplate">
  <div class="search-result">
    <a class="search-result-anchor" href={{rep.profile_url}}>
      <img src="{{rep.thumbnail_url}}" class="search-result-thumbnail">
    </a>

    <a class="search-result-anchor" href={{rep.profile_url}}>{{rep.name}}</a>
      <a class="search-result-anchor" href="http://twitter.com/{{rep.twitter_handle}}">{{rep.twitter_display}}</a>
    </div>
</script>

<h1 class="recentPledges">Recent Pledges</h1>

<div class="colsContainer">
  <div class="leftCol">
    <ul id="leftFeedList" class="feedList"></ul>
  </div>
  <div class="midCol">
    <ul id="midFeedList" class="feedList"></ul>
  </div>
  <div class="rightCol">
    <ul id="rightFeedList" class="feedList"></ul>
  </div>
</div>


<!-- the 3-column feed -->
<script type="text/x-handlebars-template" id="midFeedListTemplate">
<li class="feedListItem" data-id={{data.id}} data-open="false">
<!-- icons -->
  <div class='positive_icon' style='display:none'>
      <i class="plus-icon fa fa-plus fa-2x"></i>
      <i class="fa fa-money fa-3x"></i>
  </div>
  <div class='negative_icon' style='display:none'>
    <i class="plus-icon fa fa-minus fa-2x"></i>
    <i class="fa fa-money fa-3x"></i>
  </div>


  <!-- user's profile image '-->
  <a href="/users/{{data.user_id}}">
    <img src="{{data.user_thumbnail_url}}" alt="@{{data.user_twitter_handle}}'s picture"  class="feed-thumbnail"/>
  </a>
  <i class="fa fa-exchange fa-lg feed-exchange-icon"></i>

  <!-- rep's image ' -->
  <a href="/reps/{{data.rep_id}}">
    <img src="{{data.rep_thumbnail_url}}" alt="@{{data.rep_twitter_handle}}'s picture"  class="feed-thumbnail"/>
  </a>

  <!-- the twitter handle's next to their images + webpage link' -->
  <p>
    <a class="pledge-rep-name" href="/reps/{{data.rep_id}}">
      {{data.rep_name}}
    </a>
    <a class="pledge-rep-handle" href="http://twitter.com/{{data.rep_twitter_handle}}">@{{data.rep_twitter_handle}}
    </a>
  </p>

  <p class="profile_activityFeedItem_list_item_text">
    {{data.tweet_message}}
  </p>

  <!--<p class="feedListItemExcerpt">{{data.tweet_message}}</p>-->


</li>
</script>




<script type="text/x-handlebars-template" id="leftFeedListTemplate">
<li class="feedListItem">
<p class="feedListItemExcerpt">{{data.tweet_message}}</p>
</li>
</script>

<script type="text/x-handlebars-template" id="rightFeedListTemplate">
<li class="feedListItem">
<p class="feedListItemExcerpt">{{data.tweet_message}}</p>
</li>
</script>


<%= javascript_include_tag 'welcome', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'articles', 'data-turbolinks-track' => true %>
