<video autoplay loop poster="/images/american_flag.jpeg" id="bgvid">
<source src="/images/flag.webm" type="video/webm">
<!-- <source src="polina.mp4" type="video/mp4"> -->
</video>

<h1 class="tagline">
  Take your vote beyond the ballot box.
</h1>


<div id="searchResults"></div>

<ul class="step-list">
  <li class="step-list-item">
    <span class="huge-step-number">1.</span>
    Login with Twitter and find Representatives.
  </li>

  <li class="step-list-item">
    <span class="huge-step-number">2.</span>
    Pledge a dollar if you like what they've done. <br>Unpledge a dollar <i>if you don't</i>.
  </li>

  <li class="step-list-item">
    <span class="huge-step-number">3.</span>
    Fulfill your pledges.
  </li>
</ul>


<script type="text/x-handlebars-template" id="searchResultTemplate">
  <div class="search-result">
    <a class="search-result-anchor" href={{rep.profile_url}}>
      <img src="{{rep.thumbnail_url}}" class="search-result-thumbnail">
    </a>

    <a class="search-result-anchor" href={{rep.profile_url}}>{{rep.name}}</a>
      <a class="search-result-anchor" href="http://twitter.com/{{rep.twitter_handle}}">{{rep.twitter_display}}</a>
    </div>
</script>

<h1 class="recentPledges">Recent Pledges</h1>

<div class="colsContainer">
  <div class="leftCol">
    <ul id="leftFeedList" class="feedList"></ul>
  </div>
  <div class="midCol">
    <ul id="midFeedList" class="feedList"></ul>
  </div>
  <div class="rightCol">
    <ul id="rightFeedList" class="feedList"></ul>
  </div>
</div>


<!-- the 3-column feed -->
<script type="text/x-handlebars-template" id="midFeedListTemplate">
<li class="feedListItem" data-id={{data.id}} data-open="false">
  <p class="feedListItemExcerpt">{{data.tweet_message}}</p>
</li>
</script>

<script type="text/x-handlebars-template" id="leftFeedListTemplate">
<li class="feedListItem">
<p class="feedListItemExcerpt">{{data.tweet_message}}</p>
</li>
</script>

<script type="text/x-handlebars-template" id="rightFeedListTemplate">
<li class="feedListItem">
<p class="feedListItemExcerpt">{{data.tweet_message}}</p>
</li>
</script>


<%= javascript_include_tag 'welcome', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'articles', 'data-turbolinks-track' => true %>
