<h1>HI</h1>
<%= button_to "Sign in with Twitter", "/auth/twitter" %>

<b>Tweeting:</b>
<% unless current_user.nil? %>
    <p>Click The link below to send a tweet.</p>
    <%= link_to "Send a Tweet", new_tweet_path %>
<% else %>
    <p>You must log in to send a tweet.</p>
<% end %>

<form class="search-form">
  <input id="searchBarInput" placeholder="eg. Pelosi or 94107"></input>
</form>

<div id="searchResults"></div>




<script type="text/x-handlebars-template" id="searchResultTemplate">
  <div class="search-result">
    <b>{{rep.name}}</b> @{{rep.twitter_handle}}
    <img src={{rep.thumbnail_url}} class="search-result-thumbnail">
    <p>FEC ID: {{rep.fec_id}}</p>
  </div>
</script>

<%= javascript_include_tag 'welcome', 'data-turbolinks-track' => true %>
