<h1>HI</h1>
<%= button_to "Sign in with Twitter", "/auth/twitter" %>
<form class="search-form">
  <input id="searchBarInput" placeholder="eg. Pelosi or 94107"></input>
</form>

<b>Tweeting:</b>
<% unless current_user.nil? %>
    <p>Click The link below to send a tweet.</p>
    <%= link_to "Send a Tweet", new_tweet_path %>
<% else %>
    <p>You must log in to send a tweet.</p>
<% end %>
