<html>
<head>
  <title>twitter test</title>
</head>
<body>
<%= "why is it auth/twitter" %>
<%= link_to "Sign in with Twitter", "/auth/twitter" %>
<%= ENV["API_KEY"] %>
<%=  ENV["API_SECRET"] %>

</body>
</html>
