/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* CSS RESET
gets rid of any B.S. innate margins, paddings, etc etc. This probably won't cause any performance issues
[touching this might screw up everything so ask Jamal for more info] */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  height: 100%;
  overflow-x: hidden;
}

body {
  background: url("/images/american_flag-300kb.jpg") no-repeat center center fixed;
  background-size: auto 100%;
  font-family: 'Slabo 27px', serif;
  height: 100%;
}




/*@media screen and (min-width: 1000px) {
  .small-header-right-box {
    display: table;
  }

  .header_right_box {
    display: table;
  }
}*/


@media  screen and (min-width: 1021px) {
  .small-header-right-box {
    display: none;
  }

   .header-search-wrapper, .header-search-wrapper-logged-out {
    margin-left: 300px;
    margin-right: 400px;
    min-width: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .header a {
    font-size:46px;
  }

  .small-header a {
    font-size: 24px;
  }
  .header-search-wrapper-logged-out {
    margin-right: 120px;
  }
}

@media screen and (max-width: 1199px) {
  .header-search-wrapper-logged-out {
    margin-right: 120px;
  }
}

@media screen and (max-width: 1150px) {

  .header-search-wrapper, .header-search-wrapper-logged-out {
    margin-left: 230px;
    margin-right: 340px;
  }

  .header-search-wrapper-logged-out {
    margin-right: 120px;
  }
}

@media screen and (max-width: 1020px) {
  .header_right_box {
    display: none;
  }

  .header-search-wrapper, .header-search-wrapper-logged-out {
    margin-left: 220px;
    margin-right: 120px;
  }
}

@media screen and (max-width: 800px) {
  .header a {
    font-size: 32px;
  }
 
}



/* Changes the 'WeThePAC' text and the hamburger image */
@media screen and (min-width: 701px) {
  .nav-title-link a:nth-child(2), .nav-title-link a:last-child {
    display: none;
  }

} 

@media screen and (max-width: 700px) {
  .nav-title-link a:first-child{
    display: none;
  }
  .nav-title-link a:last-child {
    display: none;
  }

  .header-search-wrapper, .header-search-wrapper-logged-out {
    margin-left: 120px;
  }
}

@media screen and (max-width:500px) {
  .nav-title-link a:nth-child(2) {
    display: none;
  }
  .nav-title-link a:last-child {
    display: initial;
  }

  .header-search-wrapper, .header-search-wrapper-logged-out { 
    margin-left: 90px; 
  }
}



/*@media screen and (min-width: 1146px) {
  .small-header-right-box {
    display: none;
  }

  .header_right_box {
    display: table;
  }
}*/