.colsContainer {
  width: 100%;
  height: 100%;
  margin: auto;
}

.leftCol {
  height: 100%;
  float: left;
  width: 25%;
  background-color: green;
}

.midCol {
  height:100%;
  float: left;
  width: 50%;
}

.rightCol {
  height:100%;
  float: left;
  width: 25%;
  background-color: red;
}

.feedList {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  list-style-type: none;
}

.midFeedListItem {
  min-height: 100px;
  padding:  3px;
  border-bottom: 1px solid black;
}

.midFeedListItemLink {
  color: rgb(120, 150, 180);
  text-decoration: none;
  font-style: italic;
}

.midFeedListItemTitle {
  font-size: 1.2em;
}

.midFeedListItemExcept {
  font-size: 0.9em;
}
