.header {
  background-color: #5256AE;
  box-shadow: 0px 0px 4px 1px #1C206B;
  height: 50px;
  width: 100%;
  margin-bottom: 10px;
  float: left;
  position: fixed;
  z-index: 5;
}

.header-content {
  width: 100%;
  display: table;
  padding-left: calc(30%/2);
}

.header_right_box {
  float: right;
  display: table;
  margin: auto;
}

.header_right_box a {
  float: left;
  line-height: 50px;
  font-size: 150%;
}

.header_right_box form {
  float: left;
  margin-top: 15px;
}

.header_right_box img {
  float: left;
  /*margin-right: 5px;*/
}

.nav-title-link {
  line-height: 50px;
  font-size: 200%;
}

.header a {
  text-decoration: none;
  color: #EFFCFF;
}

.header a:hover {
  color: #CC564E;
}


#dropdown_menu {
  position: absolute;
  right: 0;
  display: none;
  background-color: #5256AE;
  text-align: center;
  margin-top: 50px;
}

.small-header-right-box {
  display: table;
  float: right;
  width: 100px;
}

.small-header-right-box img {
  float: right;
}

.dropdown_button {
  float: right;
  display: table;
  height: 100%;
}

.dropdown_button img {
  height: 30px;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

.header-search-wrapper {
  display: inline-block;
}


.header-search-wrapper {
    margin-left: 10px;
}

input#searchBarInput {
    border-radius: 4px;
}

input[type="submit"] {
    margin-left: 5px;
}

.header_right_box img {
    margin-right: 5px;
    border-radius: 41px;
}

.header_right_box input[type="submit"] {
    font-size: 100%;
}