.header {
  background-color: #5256AE;
  box-shadow: 0px 0px 4px 1px #1C206B;
  height: 50px;
  width: 100%;
  margin-bottom: 10px;
  float: left;
  position: fixed;
  z-index: 5;
}

.logout-button {

}

.header-content {
  width: 70%;
  margin: auto;
  display: table;
  /*padding-left: calc(30%/2);*/
}

.header_right_box {
  float: right;
  display: table;
  margin: auto;
}

.header_right_box a {
  float: left;
  line-height: 50px;
  font-size: 150%;
}

.header_right_box form {
  float: left;
  margin-top: 15px;
}

.header_right_box img {
  float: left;
  /*margin-right: 5px;*/
}

.nav-title-link {
  line-height: 50px;
  font-size: 200%;
}

.header a {
  text-decoration: none;
  color: #EFFCFF;
}

.header a:hover {
  color: #CC564E;
}


#dropdown_menu {
  position: absolute;
  right: 0;
  display: none;
  background-color: #5256AE;
  text-align: center;
  margin-top: 50px;
  padding: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

}

.small-header-right-box {
  display: table;
  float: right;
  width: 100px;
}

.small-header-right-box img {
  float: right;
}

.dropdown_button {
  float: right;
  display: table;
  height: 100%;
}

.dropdown_button img {
  height: 30px;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

.button_to input {
  margin-top: 10px;
  position: relative;
  vertical-align: top;
  padding: 0;
  font-size: 1em;
  color:#454545;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #ecf0f1;
  border: 0;
  border-bottom: 2px solid #dadedf;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #dadedf;
  box-shadow: inset 0 -2px #dadedf;
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
}

.button_to {
  height: 100%;
}

.header-search-wrapper {
  display: inline-block;
  width: 30%;
  margin-left: 20%;
}

.search-form {
  height: 100%;
}

input#searchBarInput {
  border-radius: 4px;
  width: 100%;
  height: 100%;
}

input[type="submit"] {
  margin-left: 5px;
}

.header_right_box img {
  margin-right: 5px;
  border-radius: 41px;
}

.header_right_box input[type="submit"] {
  font-size: 100%;
}

#hamburger {
  height: 45px;
}
