/* this css file contains styling + elements  that are universal to both the rep and user profile page. Anything specific to the rep and user profile page will be added to other files. */





.profile_upper {
  margin: auto;
  display: table;
  margin-bottom:50px;
  padding-top:10px;
}

.profile_image_box {
  margin: auto;
  display: table;
  float: left;
  margin-right: 10px;
}

.profile_image {
  /* width: 100px; */
  max-height: 100px;
}

.profile_name {
  font-size: 2.3em;
  line-height: 50px;
}

.profile_handle {
  font-size: 0.55em;
  color: gray;
}

.profile_pledged {
  font-size: 2em;
  text-align:center;

  border: 1px solid black;
  margin: auto;
  padding: 0.5em;
  display: table;
}

.profile_pledge_list, .profile_fulfillment_list, #activityFeed {
  width: 100%;
  max-width: 600px;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  font-family: Helvetica Neue;
  min-height: 60px;
}

.profile_pledge_list_item p {
  display: inline-block;
}

.profile_pledge_list_item, .profile_fulfillment_list_item {
  border-bottom: 1px solid black;
  padding: 10px;
  min-height: 60px;
  overflow-wrap: break-word;
}

.profile_pledge_list_item_text {
  overflow-wrap: break-word;
}

.fulfill-action {
  float: right;
}

.fulfillment-button {
  font-size: 100%;
}


#meter_wrapper {
  height: 5px;
  width: 100%;
  background-color: red;
  border: 1px solid black;
  margin: auto;
}

#positive_bar {
  display: inline-block;
  float: left;
  height: 100%;
  background-color: lime;
}

.article_list_title {
  margin: 25px 0;
  font-size: 3em;
  font-family: 'Slabo 27px', serif;
  text-align: center;
}

.profile_upper {
    margin-top: 20px;
}


.small-image {
  max-width: 25px;
  max-height: 25px;
}

.small-title {
  font-size: 1.3em;
}

.small-message {
  font-size: .83em;
  word-break: break-word;
}



.graph-pledge-wrapper {
  width: 100%;
  height: 250px;

  padding: 15px 0;
  display: table;
}

/* graphs! */
#graph {
  margin-left: 5%;
  /*margin-right: 5%;*/
  width: 40%;
  height: 100%;
  display: inline-block;
  float: left;
  /*min-width: 400px;*/
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  margin-top: 1%;
/*  background-color: #fff*/
}

svg {
  height: 100%;
}



/* pledge feed */
.pledge-feed-list {
  margin: 0 5%;
  width: 40%;
  height: 100%;


  display: inline-block;
  list-style-type: none;
  float: left;
  /*min-width: 400px;*/


  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  margin-top: 1%;
}

.pledge-feed-list-item {
  height: 33.3333%;
  width: 100%;
  padding: 5px;
}


/*.pledge-feed-list-item:last-child {
  border-bottom: 0;
}*/

.b6 {
  margin-top: 10px;
  position: relative;
  vertical-align: top;
  width: 150px;
  height: 30px;
  padding: 0;
  font-size: 1em;
  color:#454545;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #ecf0f1;
  border: 0;
  border-bottom: 2px solid #dadedf;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #dadedf;
  box-shadow: inset 0 -2px #dadedf;
  margin-bottom: 10px;
}
.b6:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

