/* this css file contains styling + elements  that are universal to both the rep and user profile page. Anything specific to the rep and user profile page will be added to other files. */





/*.profile_page {
  width: 600px;
  margin: auto;
}*/


.profile_upper {
  margin: auto;
  display: table;
  margin-bottom:100px;
}

.profile_image_box {
  margin: auto;
  display: table;
  float: left;
  margin-right: 10px;
}

.profile_image {
  width: 100px;
  height: 100px;
}

.profile_name {
  font-size: 3.5em;
  line-height: 50px;
 /* text-align: center;*/
/*  margin-top: 0.5em;
  margin-bottom: 1em;*/
}

.profile_handle {
  font-size: 0.55em;
  color: gray;
}

.profile_pledged {
  font-size: 2em;
  text-align:center;

  border: 1px solid black;
  margin: auto;
  padding: 0.5em;
  display: table;
}

.profile_pledge_list {
  width: 100%;
  max-width: 600px;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  font-family: Helvetica Neue;
}

.profile_pledge_list_item {
  border-bottom: 1px solid black;
  padding: 10px;
}


