div#searchResults {
  position: relative;
  padding-left: 2%;
  display: table;
  text-align: center;
  padding-top: 1%;
  width: 100%;
}

div.search-result {
  float: left;
  margin: 1px;
  border: 1px solid black;
  border-radius: 3px;
  display: inline-block;
  padding: 3px;
  width: 32%;
  height: 75px;
}

.search-result-anchor {
  display: block;
  font-size: 135%;
}

.search-result-thumbnail, .feed-thumbnail {
  width: 40px;
  height: 40px;
  float: left;
  border-radius: 35px;
  margin-right: 5px;
}

.search-form {

}

#searchBarInput {
  font-size: 30px;
}

.central-search-wrapper{
  margin: auto;
  display: table;
  margin-top: 20px;
}

.feed-exchange-icon {
  float: left;
  line-height: 1.75em !important;
  padding-right: 1%;
}

video#bgvid {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background-size: cover;
}

.about-blurb {
  text-align: center;
  width: 80%;
  margin: auto;
  font-size: 1.5em;
  padding: 20px;
  width: 50%;
  padding: 50px;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  margin-top: 1%;
}

.about-header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
