<div class="header">
  <div class="header-content">

    <span class="nav-title-link">
      <%= link_to "WeThePAC", root_path %>
      <%= link_to "WtPAC", root_path %>
      <%= link_to "WtP", root_path %>
    </span>

    <div class="header_right_box_logged_out">
      <form method="post" action="/auth/twitter">
        <input type="submit" value="Twitter Login">
        <input type="hidden" name="authenticity_token" value="Vvm2LuRojgujP2ZW1Nlcfzc8My/NPZdHmkvPFRSPVIKZAtsMwvjuRyG4pwaejdczqccankdAlZLggM5ntuR7qA==">
      </form>
    </div>


    <div class="header-search-wrapper-logged-out">
        <form class="search-form">
          <input id="searchBarInput" placeholder="eg. Pelosi or 94107"></input>
        </form>
      </div>
    </div>
</div>



